@import "tailwindcss";
@import "tw-animate-css";
@import "@fontsource-variable/geist";
/* ---break---  */
@custom-variant dark (&:is(.dark *));
@theme{
  --font-openSans: "Open+Sans", sans-serif; 
  --font-playFair: "Playfair Display", serif; 
  --color-navBg: #0F172A;
  --color-bgclr: #050816 ;
  --color-lalal: #ea1052;
  --color-primarty: #A1A1AA;
  /* // Gradiant start  */

}
.gradient-primary {
  background: linear-gradient(90deg, #38BDF8, #6366F1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text-fill-white {
  -webkit-text-fill-color: white !important;
}
.gradient-primary-bg {
  background: linear-gradient(90deg, #38BDF8, #6366F1);
}
.gradient-third-bg {
  background: linear-gradient(90deg, #8B5CF6, #EC4899);
  
}

.gradient-fourth-bg {
  background: linear-gradient(90deg, #22C55E, #14B8A6);
}
.gradient-secondary {
  background: linear-gradient(90deg, #22D3EE, #3B82F6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-secondary-bg {
  background: linear-gradient(90deg, #22D3EE, #3B82F6);
}
.gradient-third {
  background: linear-gradient(90deg, #8B5CF6, #EC4899);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.gradient-fourth {
  background: linear-gradient(90deg, #22C55E, #14B8A6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@theme {
  --animate-marquee: marquee 25s linear infinite;
  --color-primary: #38BDF8;   /* sky blue */
  --color-secondary: #6366F1; /* indigo */
  --color-accent: #22C55E;    /* green */
  --color-warm: #F59E0B;      /* amber */
}

@keyframes marquee {
  from {
    transform: translateX();
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}


/* Contact page phone part css */

